<div>
  <h2>Edit Sections for {{ templateName }}</h2>
  <form>
    <div *ngFor="let section of sections; let i = index" class="mb-3">
      <h4>{{ section.category }}</h4>
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" [(ngModel)]="sections[i].title" />
      </div>
      <div class="form-group">
        <label>Abstract</label>
        <textarea class="form-control" [(ngModel)]="sections[i].abstract"></textarea>
      </div>
      <div class="form-group">
        <label>Link</label>
        <input type="text" class="form-control" [(ngModel)]="sections[i].link" />
      </div>
    </div>
    <button type="button" class="btn btn-success" (click)="saveTemplate()">Save Template</button>
  </form>
</div>