.template-selector-container {
  margin: 20px;
}

.template-selector-container h2 {
  margin-bottom: 20px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}